
 /* Estilos para o caixa comentários */
#caixa-comentarios {
  background-color: #fdf2cd;
  padding: 20px;
  max-width: 600px;        /* Defina um limite máximo */
  width: 100%;             /* Faz ocupar o espaço disponível do container pai */
  border: 1px solid #e4c092;
  box-sizing: border-box;  /* Inclui padding e borda na largura */
  margin: 20px auto;       /* Mantém centralizado na página */
  overflow: auto;          /* Adiciona barra de rolagem se o conteúdo exceder */
}


body {
  background-color: #eeeded; 
  text-align: center;
}


 /* Estilo da imagem barra menu */
 .colorful {
     height: 200px;
     background-image: url('colorful.jpg');
     background-size: cover; /* Cobre toda a área com a imagem */
        }
  


img {
  width: 120px;        /* largura fixa */
  height: auto;        /* mantém a proporção da imagem */
  display: block;
  margin: 0 auto;
  border-radius: 6px;
}


.hobbies-container {
    text-align: center;
    margin-top: 20px;
  }
 
  .hobby {
    display: inline-block;
    margin: 10px 20px;
  }
 
  .hobby img {
     height: 300px; /* define a mesma altura para todas */
     width: auto;   /* mantém a proporção da imagem */
     border-radius: 6px;
     display: block;
     margin: 0 auto 8px;
  }
 
h1 {
    text-align: center;        /* Centraliza horizontalmente */
    margin-top: 20px;          /* Espaço acima */
    margin-bottom: 20px;       /* Espaço abaixo */
}

h3 {
    text-align: center;        /* Centraliza horizontalmente */
    margin-top: 20px;          /* Espaço acima */
    margin-bottom: 20px;       /* Espaço abaixo */
}

/* carrossel */
.carousel {
    max-width: 800px;          /* Largura máxima do carrossel */
}

.carousel img {
    height: 600px;             /* Altura fixa para as imagens */
    object-fit: cover;         /* Mantém proporção e corta excesso */
}

.centrar-elementos {
display:flex;
justify-content: center;
}

/* Estilo do rodapé */
footer {
   background-color:#fdf2cd;
            color: rgb(7, 7, 7);
            text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
}


.navbar-nav {
    margin: 0 auto;       /* Centraliza no container */
}